.App {
  text-align: center;
  height: 100%;
  width: 100%;
  /* padding-bottom: 60px; */
  display: flex;
  flex-direction: column;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.t1-main {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5em;
  margin-top: 5em;
}
.note-link {
  margin-top: 10px;
}

.App .add-button {
  position: fixed;
  bottom: 45px;
  right: 45px;
  border-radius: 50%;
  font-size: 32px;
  width: 50px;
  height: 50px;
  z-index: 3;
  padding: 0;
}
